<html>
  <head>
<title> ○○円あったら何食べる？ </title>
  </headi>
  <body>
    <H1> おいしいお菓子を探しましょう </H1>
  </bodyi>
  <form action="/" method="post">
  予算はどのくらい？ <br>
    下限: <input type="text" name="min" />
    上限: <input type="text" name="max" />
    <button> 検索 </button> 
  </form>
</html>
